
@model MongoTestPro.Dtos.OrderDtos.ResultOrderByIdWithCustomer

<div class="col-md-6">
    <h3>Müşteri Bilgileri</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Adı :
        </dt>
        <dd class="col-sm-8">
            @Model.CustomerName
        </dd>
        <dt class="col-sm-4">
            Soyadı :
        </dt>
        <dd class="col-sm-8">
            @Model.CustomerSurname
        </dd>
        <dt class="col-sm-4">
            Telefon No :
        </dt>
        <dd class="col-sm-8">
           @Model.CustomerPhoneNumber
        </dd>
        <dt class="col-sm-4">
            Adres :
        </dt>
        <dd class="col-sm-8">
            @Model.CustomerAddress
        </dd>
        <dt class="col-sm-4">
            Posta Kodu :
        </dt>
        <dd class="col-sm-8">
            34250
        </dd>
        <dt class="col-sm-4">
            Sipariş Tarihi :
        </dt>
        <dd class="col-sm-8">
            @Model.OrderDate.ToString("dd MMM yyyy")
        </dd>
        <dt class="col-sm-4">
            Sipariş Saati :
        </dt>
        <dd class="col-sm-8">
            @Model.OrderDate.ToString("HH:mm")
        </dd>
    </dl>
</div>